:root {
  --primary-color: rgb(230, 228, 228);
  --border-color: #805B31;
  --on-background: #efeee5;
  --on-background-two: #734b0f;
  --shadow-color: grey;
  --input-color: white;
  --placeholder-color: grey;
  --name-color: #4d4236;
  --icon-color: rgb(100 91 91);
}
[data-theme="dark"] {
  --primary-color: #252525;
  --shadow-color: black;
  --name-color: #8a8681;
  --border-color: black;
  --on-background: #2d2d2c;
  --on-background-two: black;
  --font-color: #efeee5;
  --placeholder-color: #6c6767;
  --paragraph-color: #AAAAA7;
  --input-color: #999999;
  --icon-color: rgb(203, 201, 201);
}
body {
background: var(--on-background);
}
body, h2, .h5, .social-round-icon, .social-buttons a {
  color: var(--font-color);
}
.form-control {
  color: black;
}


/* *******DARK MODE TOGGLE********
********************************** */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: absolute;
  right: 25px;
  top: 30px;
}
.theme-switch-wrapper span {
  margin-right: 10px;
  font-size: 1rem;
}
.toggle-text {
  position: relative;
  top: -4px;
  right: 5px;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.theme-switch input {
  display: none;
}
.slider {
  background: #ccc;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  position: absolute;
  transition: 0.4s;
}
.slider::before {
  background: #fff;
  content: "";
  width: 26px;
  height: 26px;
  bottom: 4px;
  left: 4px;
  cursor: pointer;
  position: absolute;
  transition: 0.4s;
}
.slider.round {
  border-radius: 34px;
}
.slider.round::before {
  border-radius: 50%;
}

input:checked + .slider {
  background: rgb(89 86 82);
}
input:checked + .slider::before {
transform: translateX(26px);
}
.bi {
  font-size: 20px;
  margin-right: 5px;
}



.img-responsive {
    width: 210px;
    height: 150px;
    border-radius: 10px;
}

.col-md-3 {
  display: flex;
  align-items: center;
}

/*------ANIMATED CSS-------
-------------------------------*/
.hi {
  color: var(--name-color);
  animation: fadeInLeft;
  animation-duration: 1s;
}
.fewd {
  animation: fadeInRight;
  animation-duration: 2s;
}
.bouncy {
  animation: bounceInUp;
  animation-duration: 4s;
}
.container {
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2.5s; /* don't forget to set a duration! */
}



/*------ICON TRANSITIONS-------
-------------------------------*/

.fa-icon.fa-icon-2x {
    color: var(--icon-color);
    transition-duration: 0.5s;
    transition-property: all;
}
.fa-icon.fa-icon-2x.tw:hover {
    color: aqua;
    transform: translateY(-5px);
}
.fa-icon.fa-icon-2x.git:hover {
    color: black;
    transform: translateY(-5px);
}
.fa-icon.fa-icon-2x.linkel:hover {
    color: #0072b1;
    transform: translateY(-5px);
}




/*------CARD TRANSITIONS-------
-------------------------------*/

 .card-block{
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 1px solid var(--border-color);
}
.card-block, .iconn {
    transition-duration: 0.5s;
    transition-property: all;
}
.card-block:hover {
    /* background-color: lightgray; */
    transform: scale(1.05);
    box-shadow: 7px 7px 16px 0px var(--shadow-color);
}
.card-block:hover .iconn{
  transform: translateY(-5px);
  color: green;
}
.card-block:hover .iconn.pj{
  color: rgb(183, 168, 5);
}
.card-block:hover .iconn.one{
  color: rgb(114, 88, 7);
}
.card-block:hover .iconn.social{
  color: rgb(0, 111, 170);
}
.card-block:hover .iconn.ennd{
  color: #805B31;
}



/* ----------Social Network---------
------------------------------------ */

.social-buttons a:hover .social-round-icon{
  background-color: aqua;
  color:#fff;
  border-color: black;
  transform: scale(1.09);
}
.social-buttons a:hover .social-round-icon.git{
  background-color: black;
}
.social-buttons a:hover .social-round-icon.lk{
  background-color: #0072b1;
}
.social-buttons a:hover {
  color: #8c4560;
}


.form-control::-moz-placeholder{color: var(--placeholder-color)}.form-control:-ms-input-placeholder{color:var(--placeholder-color)}.form-control::-webkit-input-placeholder{color:var(--placeholder-color)}

.form-control {
  background-color: var(--input-color);
}
.date, .col-md-4 p {
  color: var(--paragraph-color);
}

/* ------Animated Background--------
------------------------------------ */



/*html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(61deg, #ee7752, #e73c7e 70.59%, #23a6d5 100%, #23d5ab);
    background-size: 1000% 1000%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}*/





html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 40s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, var(--on-background) 50%, var(--on-background-two) 50%);
    bottom:0;
    left:-50%;
    opacity: .5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:50s;
  }
  
  .bg3 {
    animation-duration:51s;
  }
  
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }